body {
  border: none;
  margin: 0;
  padding: 0;
  outline: 0;
  text-align: center;
  background-color: tomato;
}

svg {
  margin-top: 2rem;
  height: 50rem;
}

svg .st0{fill:none;stroke:#FFF;stroke-miterlimit:10;stroke-dasharray:9.7168,9.7168;}
svg .st1{fill:none;stroke:#FFF;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}


svg:hover g.animatedLogo line#menorQueTop {
  transform-origin: left;
  animation: rotating1 1s ease;
}

svg:hover g.animatedLogo line#menorQueBottom {
  transform-origin: left;
  animation: rotating2 1s ease;
}

svg:hover g.animatedLogo line#eTop {
  transform-origin: center;
  animation: rotating3 1s ease;
}

svg:hover g.animatedLogo line#eBottom {
  transform-origin: center;
  animation: rotating4 1s ease;
}

svg:hover g.animatedLogo line#eCenterLeft {
  transform-origin: center;
  animation: toRight 1s ease;
}

svg:hover g.animatedLogo line#eCenterRight {
  transform-origin: center;
  animation: shrink 1s ease;
}

svg:hover g.animatedLogo line#nLeft {
  transform-origin: center;
  animation: stretch 1s ease;
}

svg:hover g.animatedLogo line#nCenterLeft {
  transform-origin: top;
  animation: toLeft 1s ease;
}

svg:hover g.animatedLogo line#nCenterRight {
  transform-origin: bottom;
  animation: toRight2 1s ease;
}

svg:hover g.animatedLogo line#nRight {
  transform-origin: center;
  animation: toLeft2 1s ease;
}

svg:hover g.animatedLogo line#mayorQueTop {
  transform-origin: right;
  animation: rotating5 1s ease;
}

svg:hover g.animatedLogo line#mayorQueBottom {
  transform-origin: right;
  animation: rotating6 1s ease;
}


@keyframes rotating1 {
  0% {
    transform: rotate(0) translate(0px, 0px) scale(1);
  }
  50% {
    transform: rotate(39.8deg) translate(2.2px, -6px) scale(0.5);
  }
  100% {
    transform: rotate(0deg) translate(0px, 0px) scale(1);
  }
}

@keyframes rotating2 {
  50% {
    transform: rotate(-39.8deg) translate(2.2px, 6px) scale(0.5);
  }
}

@keyframes rotating3 {
  50% {
    transform: rotate(-64deg) translate(20px, 7px) scale(1);
  }
}

@keyframes rotating4 {
  50% {
    transform: rotate(64deg) translate(20px, -7px) scale(1);
  }
}

@keyframes toRight {
  50% {
    transform: translate(-4px, 0px) scale(0.7);
  }
}

@keyframes shrink {
  50% {
    transform: translate(-7px, 0px) scale(0.7);
  }
}

@keyframes stretch {
  50% {
    transform: scale(1.3);
  }
}

@keyframes toLeft {
  50% {
    transform: rotate(26.5deg) translate(12px, 3px) scale(0.8);
  }
}

@keyframes toRight2 {
  50% {
    transform: rotate(26.5deg) translate(-20px, -19px) scale(0.8);
  }
}

@keyframes toLeft2 {
  50% {
    transform: translate(-13px, 0px) scale(1.1);
  }
}

@keyframes rotating5 {
  50% {
    transform: rotate(-39.8deg) translate(-2.2px, -6px) scale(0.5);
  }
}

@keyframes rotating6 {
  50% {
    transform: rotate(39.8deg) translate(-2.2px, 6px) scale(0.5);
  }
}
